*{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: #412F23;
    color: #FEC27C;
    padding: 10px;

}

main{
    background: linear-gradient(#FEC27C, #412F23);
    padding: 30px;
}

 .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

 .leftmenu{
    padding: 50px 0px 0px 0px;
    line-height: 40px;
    

}
 .rightmenu{
    padding: 50px 0px 0px 0px;
    line-height: 40px;

    
}

 .imgmenu{
    width:  550px;
    align-items: center;
    padding: 50px;
    
}

.imgmenu1{
    width: 550px;
    outline: 20px solid;
    outline-color: #412F23;
    border-radius: 15px;

}

.menu__item{
    color: #FEC27C;
    font-size: 40px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align-last: center;
    border-radius: 15px;
    background-color: #412F23;
    margin: 35px;
    height: 55px;
    width: 170px;

}

.menupng{
    width: 250px;
    padding: 10px;
    background: linear-gradient(#DDA96C, #775B3A) ;
    border-radius: 20px;

}

.skinsmenu{
    display: flex;
    flex-direction: row ;
    gap: 165px;
    color: #FEC27C;
    width: 270px;
    margin-top: 20px;
    margin-left: 100px;
    padding-bottom: 50px;
    text-align: center;
    outline: 20px solid;
    outline-color: #412F23;
    border-radius: 15px;
    height: 180px;
    background-color: #412F23;
    
}
.skinsmenu1{
    
    
}

.skinsmenu2{
    outline: 20px solid;
    outline-color: #412F23;
    border-radius: 15px;
    

}

.skinsmenu3{
    outline: 20px solid;
    outline-color: #412F23;
    border-radius: 15px;


}

.skinsmenu4{
    outline: 20px solid;
    outline-color: #412F23;
    border-radius: 15px;

}
.skinsmenu_word{
    margin-top: 10px;
    padding: 7px;    
    border-radius: 25px;
    background: linear-gradient(#DDA96C, #775B3A);
    color: black;
    font-size: 20px;
    
}